@{
	ViewBag.Title = "Index";
}

	<header>
		<div class="container" style="padding-bottom: 50px;">
			<div class="row">
				<div class="col-lg-12">	    
					<div class="intro-text">
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<img class="center" src="~/Content/Photos/engagementPhoto.jpg" />
										<div class="carousel-caption">

										</div>
									</div>
									<div class="item">
										<img class="center" src="~/Content/Photos/Destin.jpg" />
										<div class="carousel-caption">

										</div>
									</div>
									<div class="item">
										<img class="center" src="~/Content/Photos/engagementPhoto2.jpg" />
										<div class="carousel-caption">

										</div>
									</div>
                                    <div class="item">
                                        <img class="center" src="~/Content/Photos/halloween.jpg" />
                                        <div class="carousel-caption">

                                        </div>
                                    </div>
								</div>
								<a class="left carousel-control remove-gradient" href="#carousel-example-generic" role="button" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="right carousel-control remove-gradient" href="#carousel-example-generic" role="button" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>                            
						<br/>
						<div class="countdownClock"></div>
						<span class="hidden-lg visible-sm visible-xs">
							<br/>
							<a href="http://addthisevent.com/event/?jYQKCJT" title="Add to Calendar" class="addthisevent sm-savethedatelink">
								<i class="fa fa-calendar" title="Save the date!"></i>&nbsp;Save the Date
								<span class="_start">10-25-2015 17:30:00</span>
								<span class="_end">10-25-2015 22:00:00</span>
								<span class="_zonecode">11</span>
								<span class="_summary">The Book Smith Wedding</span>
								<span class="_description"></span>
								<span class="_location">Belle Meade Plantation - 5025 Harding Pike, Nashville, TN 37205</span>
								<span class="_all_day_event">false</span>
								<span class="_date_format">DD/MM/YYYY</span>
							</a>
						</span>	
					</div>
				</div>
			</div>
		</div>
	</header>
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>Our Story</h2>
					<hr class="book">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
                    <h3 style="margin-top: 0px;">
                        <span style="float: left; margin-right: 25px; padding-top: 5px;">Aaron</span>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                        </ul>
                    </h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum, magna venenatis auctor pharetra, libero augue semper mauris, a porttitor lorem est vitae sapien. Duis sollicitudin blandit est vel vulputate. Ut tristique tincidunt ipsum nec dapibus. Fusce placerat lectus eget ex tempus, in egestas erat congue. Morbi eleifend quam nec sapien tristique mollis. Sed in gravida tellus. Proin scelerisque justo at erat elementum venenatis. Morbi efficitur molestie aliquam. In ut nunc eu augue dictum scelerisque vitae in diam. Sed varius faucibus erat, nec lacinia mi faucibus quis. Morbi aliquam dictum arcu, eu molestie erat varius vitae. Cras quis eros nec lacus finibus dapibus. Nulla vitae pulvinar leo. Maecenas pretium neque nec risus cursus efficitur. Nunc tortor tortor, feugiat ac magna eget, condimentum efficitur eros. Phasellus tempor interdum justo, eu interdum turpis aliquam nec.</p>
				</div>
				<div class="col-lg-4">				    
					<p style="text-align: center;"><img src="~/Content/earlyRelationship.jpg" /></p>
				</div>
				<div class="col-lg-4">
                    <h3 style="margin-top: 0px;">
                        <span style="float: left; margin-right: 25px; padding-top: 5px;">Meg</span>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                        </ul>
                    </h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum, magna venenatis auctor pharetra, libero augue semper mauris, a porttitor lorem est vitae sapien. Duis sollicitudin blandit est vel vulputate. Ut tristique tincidunt ipsum nec dapibus. Fusce placerat lectus eget ex tempus, in egestas erat congue. Morbi eleifend quam nec sapien tristique mollis. Sed in gravida tellus. Proin scelerisque justo at erat elementum venenatis. Morbi efficitur molestie aliquam. In ut nunc eu augue dictum scelerisque vitae in diam. Sed varius faucibus erat, nec lacinia mi faucibus quis. Morbi aliquam dictum arcu, eu molestie erat varius vitae. Cras quis eros nec lacus finibus dapibus. Nulla vitae pulvinar leo. Maecenas pretium neque nec risus cursus efficitur. Nunc tortor tortor, feugiat ac magna eget, condimentum efficitur eros. Phasellus tempor interdum justo, eu interdum turpis aliquam nec.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="bridalParty" style="background-color: #e7e7e7;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>Bridal Party</h2>
					<hr class="star-light">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum, magna venenatis auctor pharetra, libero augue semper mauris, a porttitor lorem est vitae sapien. Duis sollicitudin blandit est vel vulputate. Ut tristique tincidunt ipsum nec dapibus. Fusce placerat lectus eget ex tempus, in egestas erat congue. Morbi eleifend quam nec sapien tristique mollis. Sed in gravida tellus. Proin scelerisque justo at erat elementum venenatis. Morbi efficitur molestie aliquam. In ut nunc eu augue dictum scelerisque vitae in diam. Sed varius faucibus erat, nec lacinia mi faucibus quis. Morbi aliquam dictum arcu, eu molestie erat varius vitae. Cras quis eros nec lacus finibus dapibus. Nulla vitae pulvinar leo. Maecenas pretium neque nec risus cursus efficitur. Nunc tortor tortor, feugiat ac magna eget, condimentum efficitur eros. Phasellus tempor interdum justo, eu interdum turpis aliquam nec.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="pointsOfInterest">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>Points of Interest</h2>
					<hr class="camera">
				</div>
			</div>
			<div class="row text-center">
				<div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3>Food</h3>
                            <div class="row">
                                <div class="col-lg-5">
                                    <h4>Best BBQ</h4>
                                    <ul>
                                        <li><a href="">Martin's BBQ</a></li>
                                        <li><a href="">Edley's BBQ</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-5 col-lg-offset-2">
                                    <h4>Best Bars</h4>
                                    <ul>
                                        <li><a href="">Flying Saucer</a></li>
                                        <li><a href="">Buffalo Billiards</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <h4>Best Burgers</h4>
                                    <ul>
                                        <li><a href="">Burger Republic</a></li>
                                        <li><a href="">Pharmacy Burger</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-5 col-lg-offset-2">
                                    <h4>Best Brunch</h4>
                                    <ul>
                                        <li><a href="">Mad Donna's</a></li>
                                        <li><a href="">Loveless Cafe</a></li>
                                        <li><a href="">Pancake Pantry</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h3>Sites</h3>
                            <div class="row">
                                <div class="col-lg-5">
                                    <h4>Best Tours</h4>
                                    <ul>
                                        <li><a href="">The Grand Ole Opry</a></li>
                                        <li><a href="">Jack Daniel's Distillery</a></li>
                                        <li><a href="">Country Music Hall of Fame</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-5 col-lg-offset-2">
                                    <h4>Best Music Venues</h4>
                                    <ul>
                                        <li><a href="">The Grand Ole Opry</a></li>
                                        <li><a href="">Ryman Auditorium</a></li>
                                        <li><a href="">Bluebird Cafe</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <h4>Best Scenic Routes</h4>
                                    <ul>
                                        <li><a href="">Natchez Trace Parkway</a></li>
                                        <li><a href="">Old Tennessee Trail</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-5 col-lg-offset-2">
                                    <h4>Best Mansions</h4>
                                    <ul>
                                        <li><a href="">Belle Meade Plantation</a></li>
                                        <li><a href="">Cheekwood</a></li>
                                        <li><a href="">Carter House</a></li>
                                        <li><a href="">The Hermitage</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</section>
	<section id="registry" style="background-color: #e7e7e7;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Registry</h2>
				<hr class="gift">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum, magna venenatis auctor pharetra, libero augue semper mauris, a porttitor lorem est vitae sapien. Duis sollicitudin blandit est vel vulputate. Ut tristique tincidunt ipsum nec dapibus. Fusce placerat lectus eget ex tempus, in egestas erat congue. Morbi eleifend quam nec sapien tristique mollis. Sed in gravida tellus. Proin scelerisque justo at erat elementum venenatis. Morbi efficitur molestie aliquam. In ut nunc eu augue dictum scelerisque vitae in diam. Sed varius faucibus erat, nec lacinia mi faucibus quis. Morbi aliquam dictum arcu, eu molestie erat varius vitae. Cras quis eros nec lacus finibus dapibus. Nulla vitae pulvinar leo. Maecenas pretium neque nec risus cursus efficitur. Nunc tortor tortor, feugiat ac magna eget, condimentum efficitur eros. Phasellus tempor interdum justo, eu interdum turpis aliquam nec.</p>
			</div>
		</div>
	</div>
</section>
