@{
    ViewBag.Title = "Index";
}

<header>
    <div class="container" style="padding-bottom: 50px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img class="center" src="~/Content/Photos/engagementPhoto.jpg" />
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img class="center" src="~/Content/Photos/Destin.jpg" />
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img class="center" src="~/Content/Photos/engagementPhoto2.jpg" />
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img class="center" src="~/Content/Photos/halloween.jpg" />
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img class="center" src="~/Content/Photos/easter.jpg" />
                                <div class="carousel-caption">
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control remove-gradient" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control remove-gradient" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <br />
                    <div class="countdownClock"></div>
                    <span class="hidden-lg visible-sm visible-xs">
                        <br />
                        <a href="http://addthisevent.com/event/?jYQKCJT" title="Add to Calendar" class="addthisevent sm-savethedatelink">
                            <i class="fa fa-calendar" title="Save the date!"></i>&nbsp;Save the Date
                            <span class="_start">10-23-2015 17:30:00</span>
                            <span class="_end">10-23-2015 22:00:00</span>
                            <span class="_zonecode">11</span>
                            <span class="_summary">The Book Smith Wedding</span>
                            <span class="_description"></span>
                            <span class="_location">Belle Meade Plantation - 5025 Harding Pike, Nashville, TN 37205</span>
                            <span class="_all_day_event">false</span>
                            <span class="_date_format">DD/MM/YYYY</span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Story</h2>
                <hr class="book">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 hidden-sm hidden-xs hidden-md">
                <div class="row">
                    <div class="col-lg-7 col-lg-offset-5">
                        <p><img src="~/Content/Photos/funny 6.jpg" /></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7 col-lg-offset-5">
                        <p><img src="~/Content/Photos/funny 8.jpg" /></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7 col-lg-offset-5">
                        <p><img src="~/Content/Photos/funny 1.jpg" /></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7 col-lg-offset-5">
                        <p><img src="~/Content/Photos/funny 7.jpg" /></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ourstory">
                <p>
                    <span class="her">Summer 2011 I had just randomly moved to Nashville, started a new job, and moved in with my best friend Molly. 
                        2 weeks later it was Labor Day weekend; not knowing a lot of people at work, and Molly being my only friend (and pregnant at the time), I decided to sign up on Match.com. 
                        Figured I could use the “new in town” excuse to get at least a couple of dates, and have someone show me the sites.
                    </span>
                    <span class="him">All of my friends at the time were married with kids. I had no good way to meet people, so I decided to join Match.com to see who was out there.</span>
                    <span class="her">After I signed up, I got a few responses from guys, but none grabbed my interest, except one: Aaron's. He actually wrote a paragraph, a conversation, had questions, and said more than “sup girl.” I responded.</span>
                    <span class="him">
                        I signed up and went on a few dates. None of them were that impressive. Either they seemed like just a friend or they weren't really that into me.
                        When I saw Meg's profile she really looked like a fun person. I saw all her funny pictures, goofing around and hanging out with friends, none of them seemed posed and fake like most profile pictures.
                        I sent her a message and she responded with good conversation that I could go along with.
                    </span>
                    <span class="her">
                        We wrote long emails back and forth throughout the week, and knowing the upcoming weekend was a holiday weekend, with no plans, we decided to go out.
                    </span>
                    <span class="him">
                        After a lot of emails I figured it was time to meet, so I asked her out on Saturday. I didn't really know the city as well as I should have at the time so I told her we could go exploring together.
                    </span>
                    <span class="her">
                        He picked me up, we hopped from Bosco’s on 21st, to Jacksons, to Flying Saucer, and eventually ending on Broadway. That first date lasted 14 hours!
                    </span>
                </p>
                <p>
                    <span class="him">
                        Meg is one of the most genuine people I've ever known and doesn't hesitate to try to help. She is always giving and hardly ever taking. We've done lots of things that
                        I enjoy, even though she's not very fond of them (e.g. mini golf, going to the zoo). She puts up with me and my toys and will do the things I love.
                        She is my best friend and I love every minute we spend together.
                    </span>
                </p>
                <p>
                    <span class="her">
                        Aaron is the only one I've been with the whole time I've lived in Nashville and have loved every minute of it. He is my best friend, the love of my life.
                        He makes me laugh and smile all the time, while laughing at my jokes. He’s always up for any adventures that I want to do -- skydiving, para-sailing,
                        hang gliding, traveling all over the country or just hanging out and binge watching great TV shows at home. I’m excited for our next big adventure together: Marriage!
                    </span>
                </p>
            </div>
            <div class="col-lg-3  hidden-sm hidden-xs hidden-md">
                <div class="row">
                    <div class="col-lg-7">
                        <p><img src="~/Content/Photos/funny 5.jpg" /></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <p><img src="~/Content/Photos/funny 4.jpg" /></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <p><img src="~/Content/Photos/funny 2.jpg" /></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <p><img src="~/Content/Photos/funny 3.jpg" /></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="proposal">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>The Proposal</h2>
                <hr class="diamond">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-4">
                <row>
                    <p style="padding-top:65px; text-align: center;">
                        <img src="~/Content/Photos/engagementRing.jpg" />
                    </p>
                </row>
                <row>
                    <p style="text-align: center;">
                        <img src="~/Content/Photos/LeafKiss.jpg" />
                    </p>
                </row>
            </div>
            <div class="col-lg-8">
                <div class="row text-center">
                    <h3>Her Side</h3>
                </div>
                <div class="row text-justify herstory">
                    <p>It was our 2 year anniversary, and sticking with tradition, we were going out to another fun, new, fancy restaurant. We have turned Labor Day 
                    weekend into our anniversary trips, and having just come back from Charleston, SC, we kept the anniversary day pretty low key (or so I thought). 
                    I had bought and wrapped some fun toys for him and kept them on the dining room table days leading up the anniversary. By the day of, I 
                    noticed there weren't any for me yet – which wasn't unusual, he would order some late or pick them up on the way home. I met him at the restaurant, 
                    still knowing that morning there weren't any presents on the table for me (I had been hinting at wanting a bike rack for my car for weeks!).
                     We chose that particular restaurant (Bricktops) because I had heard their deviled eggs were amazing, and being in love with deviled eggs, I needed to eat these suckers! 
                    We sat down, ordered champagne and deviled eggs, talking about random things. The eggs came and I inhaled them! In between bites, I was asking Aaron what he wanted to do after dinner … 
                    did he want to go home and open presents, go bowling, go get drinks…etc. We decided on opening presents first then figure out plans (especially since I was excited for him to open up his
                     toys, and knew he’d want to play with them). He then said, “I’m going to give you your present now.” As I took another bite of the delicious deviled eggs, my mind instantly thought, “What? 
                    Really? If it’s a bike rack I’m going to have to carry it in the restaurant”… not remembering that he came empty handed to the restaurant. He then pulls out the ring and hands it to me!! 
                    BAM! KA-BOOM! So shiny and sparkly and the most beautiful thing I’d ever seen in my life… all with a mouth full of eggs. I instantly started to cry, turned bright red, and finished chewing.
                     After the shock and surprise wore off, I realized I hadn't even given an answer. I blurted “YES!” It was the perfect ring and so incredibly beautiful. Him knowing how much Rubies means to me, made it all that more special.
               Needless to say, after that, I didn't have an appetite.</p>
                </div>
                <div class="row text-center">
                    <h3>His Side</h3>
                </div>
                <div class="row text-justify hisstory">
                    <p>I had planned on asking her during our anniversary trip to Charleston. That became an issue when it turned into a sort of family reunion and I couldn't think of when a 
                    good time to ask would be. I really wanted to make it a big deal because she loves that kind of thing, but I'm too shy and couldn't bring myself to do it. After we got back from Charleston,
                    I went to pick out a ring. I showed up at Shane Company with no clue what I was getting besides it needed rubies. Luckily Molly showed up with a pinterest page! Once we found the ring I ended up with
                    I went to a few other stores to make sure, but no others seemed as perfect. I made sure to keep it hidden in my pocket going to the restaurant. Meg really had no clue it was coming and it was
                    awesome seeing the look on her face when I pulled out the ring and asked her to marry me.</p>
                </div>
                <div class="row text-justify snuggles">
                    <p>It's been fun planning our wedding together, and we can't wait to share the big day with family and friends!</p>
                </div>
        </div>
    </div>
</section>
<section id="weddingParty">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Wedding Party</h2>
                <hr class="heart">
            </div>
        </div>
        <div class="row bridalParty herstory">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Molly Moucka</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 text-left">
                    <img src="~/Content/Photos/Molly.jpg" />
                </div>
                <div class="col-lg-9 text-justify">
                    <p>
                        Molly is my Maid of Honor. She and I met the 2nd day of college freshman
                        year in the dorms. My gnome I brought for decoration had broken during the
                        move, and she was the first one I came across who had super glue. She saved
                        his life, so I named him after her middle name: Oliver. We’ve been best
                        friends ever since. We are ridiculously loud and obnoxious together, laugh
                        constantly and never take a serious picture. Molly is always up for any
                        crazy adventures and is the reason why I moved and was able to stay and live
                        in Nashville. I wouldn’t be where I am today if it wasn’t for her.
                    </p>
                </div>
            </div>
        </div>
        <div class="row bridalParty herstory">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Rachael Stromberg</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 text-justify">
                    <p class="big">
                        Rachael is my cousin and who is the closest thing I’ll have to a sister. We
                        got to trick-or-treat as kids, hunt for Easter eggs, and dance to Shaggy and
                        Spice Girls. Even after moving to California, we still stayed in touch and
                        got to see each other during family visits. Although she’s 3 years younger
                        than me, she’s always been an old soul. She has listened to my problems over
                        the years, has given great advice, and has grown up to be a great person and
                        a fantastic mother!
                    </p>
                </div>
                <div class="col-lg-3 text-right">
                    <img src="~/Content/Photos/Rachel.jpg" />
                </div>
            </div>
        </div>
        <div class="row bridalParty herstory">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Nikki Stromberg</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 text-left">
                    <img src="~/Content/Photos/Nikki.jpg" />
                </div>
                <div class="col-lg-9 text-justify">
                    <p>
                        Nikki is my other cousin and my Minion Partner-in-crime. She is funny, goofy,
                        smart and extremely talented.  She has a traveling soul and has explored many beautiful sites; the most current residence now being North Pole, Alaska. Every time I see how much she's grown up to be a remarkable young woman, I still remember us running around as kids, doing cannon balls into the pool, arguing about who gets to eat more Noodles, talking for hours about Harry Potter, and playing hide-and-seek from the rest of the family. She helps bring me back to earth and reminds me to laugh at the little things in life.
                    </p>
                </div>
            </div>
        </div>
        <div class="row bridalParty herstory">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Jen Perlinger Panter</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 text-justify">
                    <p>
                        Jen a.k.a Stimps a.k.a. Perlinger a.k.a JP has been my best friend for more
                        than half my life. Becoming friends in 3rd grade, we automatically were
                        joined at the hip. I would go to her house after school to play and hang out
                        with her and her 4 siblings; she would come to my house after school to
                        escape the chaos of having 4 siblings, since I was an only child. We’ve
                        grown up together and have been through everything. She is the only person I
                        can carry a full conversation with entirely in just movie quotes (Good
                        Morning, Gil. Ya well, good riddance you looney. Just put that anywhere pal.
                        That’s good meatball. And I love Muenster.) Book and Perlinger go together
                        like Peas and Carrots.
                    </p>
                </div>
                <div class="col-lg-3 text-right">
                    <img src="~/Content/Photos/Jen.jpg" />
                </div>
            </div>
        </div>
        <div class="row bridalParty herstory">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Megan Budden</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 text-left">
                    <img src="~/Content/Photos/Cindy.jpg" />
                </div>
                <div class="col-lg-9 text-justify">
                    <p class="big">
                        Megan and I also met the 2nd day of college freshman year in the dorms.
                        While sitting in the hallway going around the circle introducing ourselves,
                        she was first and said “My name is Megan.” Of course out of all the people
                        in the hallway, I sat next to the only other Megan! (Damn stupid common 80’s
                        name). Like with most of my friends, she needed a nickname and has been
                        Cindy ever since. She is always the first one to laugh at my jokes, knows what episode I'm quoting from FRIENDS, and is
                        one of the sweetest, most genuine people I know. 
                    </p>
                </div>
            </div>
        </div>
        <div class="row bridalParty herstory">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Amy Chorbajian</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 text-justify">
                    <p class="big">
                        Amy is my soon-to-be SISTER (in law) and has been one of my favorite people
                        since living in the south. She has opened her arms and welcomed me into the
                        Smith family since day one without hesitation. She has the two best kids around, who I can't wait to call my niece and nephew. We can spend hours painting our nails, gossiping, eating snow cones, going fishing, shopping, and hanging around downtown Nashville. I'm very excited to have a sister who I already feel very close to.
                    </p>
                </div>
                <div class="col-lg-2 text-right">
                    <img class="tall" src="~/Content/Photos/Amy.jpg" />
                </div>
            </div>
        </div>

        <!-- Groomsmen -->

        <div class="row bridalParty">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Rick Smith</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 text-left">
                    <img src="~/Content/Photos/Daddy.jpg" />
                </div>
                <div class="col-lg-9 text-justify">

                </div>
            </div>
        </div>
        <div class="row bridalParty">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Cameron Wheeler</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 text-justify">

                </div>
                <div class="col-lg-3 text-right">
                    <img src="" />
                </div>
            </div>
        </div>
        <div class="row bridalParty herstory">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Andrew Stromberg</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 text-left">
                    <img class="tall" src="~/Content/Photos/Andrew.JPG" />
                </div>
                <div class="col-lg-10 text-justify">
                    <p class="big">
                        Andrew is another cousin of mine, and my little buddy (even though he
                        is now taller than me)! We can ramble on for hours about the show Big
                        Bang Theory and Game of Thrones while playing Skip-Bo (by the way
                        Andrew, you still owe me $0.61!), and even though he has grown up to
                        be an amazing young man, I still remember him as the baby with big
                        blue eyes whose shoes didn't fit. He is hilarious, very smart,
                        talented and growing up too fast for my liking.
                    </p>
                </div>
            </div>
        </div>
        <div class="row bridalParty herstory">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>James Warren</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 text-justify">
                    <p>
                        James. My precious. We met in Driver's Ed class sophomore year of high
                        school after making very inappropriate jokes about each other's
                        mothers and have been best friends ever since. We share our love for
                        film and have made countless movies together, including well known
                        titles such as "No Way Out," "Valentine's Day Massacre," "Noodles
                        Disaster," "Zombie Night," and "Lights Out." All of which I played as
                        the actress in roles that lead to my untimely demise. James is an
                        incredibly gifted artist, smart, creative and who I love dearly. No
                        matter the long distance between us, he can always make me laugh,
                        cheer me up, and never gets smoke on the curtains.
                    </p>
                </div>
                <div class="col-lg-2 text-right">
                    <img src="~/Content/Photos/James.jpg" />
                </div>
            </div>
        </div>
        <div class="row bridalParty">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Alec Lanter</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 text-left">
                    <img src="~/Content/Photos/Alec.jpg" />
                </div>
                <div class="col-lg-9 text-justify">
                </div>
            </div>
        </div>
        <div class="row bridalParty">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Erik Stell</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 text-justify">
                    
                </div>
                <div class="col-lg-3 text-right">
                    <img src="" />
                </div>
            </div>
        </div>
    </div>
</section>
<section id="pointsOfInterest">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Sites to See</h2>
                <hr class="camera">
            </div>
        </div>
        <div class="row text-center">
            <p>These are our Favorite Spots in Nashville</p>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <h3 class="groupHeader">Food</h3>
                <div class="row text-center">
                    <div class="col-md-6 text-center">
                        <h4>Best BBQ</h4>
                        <ul style="padding: 0px;">
                            <li><a target="_blank" href="http://www.martinsbbqjoint.com/">Martin's BBQ</a></li>
                            <li><a target="_blank" href="http://edleysbbq.com/">Edley's BBQ</a></li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-center">
                        <h4>Best Bars</h4>
                        <ul style="padding: 0px;">
                            <li><a target="_blank" href="http://www.beerknurd.com/stores/nashville/">Flying Saucer</a></li>
                            <li><a target="_blank" href="http://www.buffalosnashville.com/">Buffalo Billiards</a></li>
                            <li>&nbsp;</li>
                        </ul>

                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-6 text-center">
                        <h4>Best Burgers</h4>
                        <ul style="padding: 0px;">
                            <li><a target="_blank" href="http://burgerrepublic.com/">Burger Republic</a></li>
                            <li><a target="_blank" href="http://thepharmacynashville.com/">The Pharmacy</a></li>
                            <li><a target="_blank" href="http://www.hossburgers.com/Welcome.html">Hoss Burgers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-center">
                        <h4>Best Brunch</h4>
                        <ul style="padding: 0px;">
                            <li><a target="_blank" href="http://maddonnas.com/">Mad Donna's</a></li>
                            <li><a target="_blank" href="http://www.lovelesscafe.com/">Loveless Cafe</a></li>
                            <li><a target="_blank" href="http://www.thepancakepantry.com/">Pancake Pantry</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="groupHeader">Sites</h3>
                <div class="row text-center">
                    <div class="col-md-6 text-center">
                        <h4>Best Tours</h4>
                        <ul style="padding: 0px;">
                            <li><a target="_blank" href="http://www.opry.com/">The Grand Ole Opry</a></li>
                            <li><a target="_blank" href="http://www.jackdaniels.com/">Jack Daniel's Distillery</a></li>
                            <li><a target="_blank" href="http://countrymusichalloffame.org/">Country Music Hall of Fame</a></li>
                            <li><a target="_blank" href="http://www.nashville.gov/Parks-and-Recreation/Parthenon.aspx">The Parthenon</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-center">
                        <h4>Best Music Venues</h4>
                        <ul style="padding: 0px;">
                            <li><a target="_blank" href="http://www.opry.com/">The Grand Ole Opry</a></li>
                            <li><a target="_blank" href="http://ryman.com/">Ryman Auditorium</a></li>
                            <li><a target="_blank" href="http://bluebirdcafe.com/index.cfm">Bluebird Cafe</a></li>
                        </ul>

                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-6 text-center">
                        <h4>Best Scenic Routes</h4>
                        <ul style="padding: 0px;">
                            <li><a target="_blank" href="http://www.nps.gov/natr/index.htm">Natchez Trace Parkway</a></li>
                            <li><a target="_blank" href="http://www.antebellum.com/www/docs/165/old-tennessee-trail/">Old Tennessee Trail</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-center">
                        <h4>Best Mansions</h4>
                        <ul style="padding: 0px;">
                            <li><a target="_blank" href="http://bellemeadeplantation.com/">Belle Meade Plantation</a></li>
                            <li><a target="_blank" href="http://www.cheekwood.org/">Cheekwood</a></li>
                            <li><a target="_blank" href="http://www.carnton.org/">Carnton Plantation</a></li>
                            <li><a target="_blank" href="http://thehermitage.com/visit/">The Hermitage</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center" style="padding-top: 75px;">
            <p>If you want more recommendations, check out <a target="_blank" href="http://nashvilleguru.com/">Nashville Guru</a></p>
        </div>
    </div>
</section>
<section id="registry">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Registry</h2>
                <hr class="gift">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-1">
                <a target="_blank" href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542029259&pwsurl="><img width="300" alt="Bed Bath and Beyond" src="~/Content/Photos/BBB_logo.png" /></a>
            </div>
            <div class="col-lg-5">
                <a target="_blank" href="http://www.honeyfund.com/wedding/thebooksmiths"><img alt="Honey Fund" src="~/Content/Photos/honeyfund.jpg" /></a>
            </div>
        </div>
    </div>
</section>
<section id="hotels">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Hotels</h2>
                <hr class="bed">
            </div>
        </div>
    </div>
</section>
