@{
    ViewBag.Title = "Story";
}

<img class="center" src="~/Content/engagementPhoto.jpg" />
<div class="clear"></div>
<div class="center">
    <div class="story">Her Side</div>
    <div class="story"><img src="~/Content/earlyRelationship.jpg" /></div>
    <div class="story">His Side</div>
</div>