body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #C0C0C0;
}

header, footer, nav, section {
    display: block;
}


div#menu { 
   margin: 0; 
   margin-bottom: 20px;
   padding: .3em 0 .3em 0; 
   background: #757575; 
   width: 100%; 
   text-align: center; 
   border-radius: 5px;
} 

div#menu ul { 
   list-style: none; 
   margin: 0; 
   padding: 0; 
} 

div#menu ul li { 
   margin: 0; 
   padding: 0; 
   display: inline; 
} 

div#menu ul a{    
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: x-large; 
}

div#menu ul a:link{ 
   color: #fbec3f; 
} 

div#menu ul a:visited{ 
   color: #fbec3f; 
} 

div#menu ul a:active{ 
   color: white; 
} 

div#menu ul a:hover, a.active{ 
   background-color: #3b3b32;
}

iframe{
    display:block;
    padding-top: 500px;
    margin:auto;
}

p.green{
    margin:0;
    color:#31cb13
}

#countbox1{
    font-size: 20px;
    text-align: center;
}

div.center{
    width: 400px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div{
    margin-top:5px;
}

div.clear{
    clear: both;
}

.story{
    display:block;
    float:left;
}

div.story{
    font-size: large;
}